:root {
  /* fonts */
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* background */
  background-image: url('https://img.freepik.com/premium-photo/yellow-mono-color-tennis-ball-yellow-solid-background-minimalistic-design-object-3d-rendering-icon-ui-ux-interface-element_187882-2819.jpg');
  background-size: cover;

  /* colors */
  --orange: #f2753b;
  --orange-light: #ebad65;
  --black: #000000;
}

body {
  margin: 0;
  place-items: center;
  font-family: 'Mulish SemiBold';
  min-width: 100vw;
  min-height: 100vh;
}

@font-face {
  font-family: 'Mulish Regular';
  src: local('Mulish Regular'),
    url(./assets/fonts/Mulish/Mulish-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Mulish Bold';
  src: local('Mulish Bold'),
    url(./assets/fonts/Mulish/Mulish-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Mulish SemiBold';
  src: local('Mulish SemiBold'),
    url(./assets/fonts/Mulish/Mulish-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat Bold';
  src: local('Montserrat Bold'),
    url(./assets/fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
}
